body {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 700px;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input {
  padding-left: 20px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 20px;
  font-size: 16px;
  line-height: 20px;
  outline: #304ffe;
}
.input:focus {
  outline: none;
  border: 1px solid #304ffe;
}
.input-count-wrapper {
  display: block;
  padding-left: 20px;
  color: gray;
  font-size: 14px;
}
.status_red {
  color: red;
}
.button {
  height: 60px;
  width: 100%;
  border: none;
  border-radius: 20px;
  background-color: #304ffe;
  color: white;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
.button:hover {
  background-color: white;
  color: #304ffe;
  border: 1px solid #304ffe;
}
.title {
  font-weight: 800;
  text-transform: uppercase;
}
.title_main {
  margin: 30px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 30px;
  color: #304ffe;
}
.blog-wrapper {
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.manage,
.feed {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 30px;
}
.manage__title {
  height: 60px;
}
.manage__textarea {
  min-height: 200px;
  max-height: 200px;
  min-width: 300px;
  max-width: 300px;
  padding: 20px;
}
.feed__list {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
}
.post {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.post::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 1px;
  background-color: gray;
  opacity: 0.5;
  bottom: -15px;
}
.post__created {
  font-size: 14px;
  line-height: 18px;
  color: #304ffe;
}
.post__title {
  max-width: 100%;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  word-wrap: break-word;
}
.post__text {
  font-size: 16px;
  line-height: 20px;
  word-wrap: break-word;
}
@media (max-width: 767px) {
  .container {
    padding: 40px 20px;
  }
  .blog-wrapper {
    flex-direction: column;
    gap: 50px;
  }
  .manage,
  .feed {
    margin: 0 auto;
  }
}
